.divContacts{
    background-color: rgb(46, 46, 46);
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
}

.divGlobalChat{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    gap: 2vh;
    border-top: 1px rgba(57, 57, 57, 0.491) solid;
    transition: all 0.3s;
    overflow: auto;
}

.divGlobalChat:hover{
    transition: all 0.3s;
    background-color: rgb(67, 67, 67);
}

.divGlobalChat img{
    width: 5vh;
    height: 5vh;
    background-color: rgb(165, 165, 165);
    padding: 0.5vh;
    border: 2px rgba(0, 0, 0, 0.338) solid;
    border-radius: 100%;
    margin-left: 2vh;
}

.divContactsH1{
    border-bottom: 1px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}